<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxinyu.dao.UserRoleMapper">
    <insert id="insertUserRole" parameterType="com.lxinyu.entity.UserRoleRelation" useGeneratedKeys="true" keyProperty="id" keyColumn="ur_id">
        INSERT INTO user_roles (ur_userid,ur_roleid) VALUES (#{userId},2);
    </insert>

    <select id="selectUserRole" parameterType="int" resultType="int">
        SELECT ur_roleid FROM user_roles where ur_userid = #{userId};
    </select>
</mapper>